:root {
  --primary-color: var(--color-base-content);
  --background: var(--color-base-100);
  --background-light: var(--color-base-300);
  --primary-color-light: var(--color-accent-content);
  --background-lighter: var(--color-base-200);
  --primary-color-lighter: var(--color-base-content);
  --secondary-color: var(--color-success);
  --tertiary-color: var(--color-secondary-content);
  --quaternary-color: var(--color-accent);
  --quinary-color: var(--color-warning);
  --senary-color: var(--color-info);
  --tooltip-bg: var(--color-success);
  --tooltip-color: var(--color-success-content);
  color-scheme: light;
}

html[data-theme="dim"] {
  --primary-color: var(--color-base-content);
  --background: var(--color-base-100);
  --background-light: var(--color-base-300);
  --primary-color-light: var(--color-neutral-content);
  --background-lighter: var(--color-base-200);
  --primary-color-lighter: var(--color-base-content);
  --secondary-color: var(--color-primary-content);
  --secondary-color: var(--color-success);
  --tertiary-color: var(--color-secondary);
  --quaternary-color: var(--color-accent);
  --quinary-color: var(--color-warning);
  --senary-color: var(--color-info);
  --tooltip-bg: var(--color-accent);
  --tooltip-color: var(--color-accent-content);
  color-scheme: dark;
}

html {
  background: var(--background);
  color: var(--primary-color);
}

/* forms */

form .rich-text-content,
.rich-text-toolbar button.is-active {
  border-color: var(--primary-color);
  background-color: var(--background);
}

.checkbox::before {
  background: var(--primary-color);
}

button.btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background: var(--background);
  box-shadow: none;
  &:hover,
  &:active {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background);
  }
}

/* various boxes */

.group-section h2 {
  background: var(--background-light);
  border-color: var(--primary-color-light);
}

.task-description {
  border-color: var(--primary-color-lighter);
  background: var(--background-lighter);
}

/* tooltips */

.tooltip > .tooltip-content,
.tooltip::before,
.tooltip::after {
  color: var(--tooltip-color);
  background-color: var(--tooltip-bg);
}
