@media print {
  header {
    display: none;
  }
  * {
    color: #000;
  }
  .tasks-container {
    grid-template-columns: 1fr;
    input.checkbox {
      display: none;
    }
    label::before {
      content: "- ";
    }
    .tasks-list {
      display: block;
    }
    .tasks-list li {
      display: block;
      break-inside: avoid;
      page-break-inside: avoid;
    }
  }
}
